# Launches services for the DeBIT scraping pipeline
# under a default network. Intended for local testing.

version: "3"
services:
  # POSTGRES DATABASE
  db:
    image: postgres
    container_name: debit-scrapers-database
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    env_file:
      - .env

  # PGADMIN DATABASE GUI
  pgadmin:
    image: dpage/pgadmin4
    container_name: debit-scrapers-pgadmin
    depends_on:
      - db
    logging:
      driver: none
    ports:
      - "443:443"
    env_file:
      - .env
    volumes:
      - ./server.local.json:/pgadmin4/servers.json
