beautifulsoup4
Django
Flask
google-api-core
google-auth
google-cloud
google-cloud-core
google-cloud-pubsub
google-genai
lxml
lxml[html_clean]
nest-asyncio
numpy
openpyxl
pandas
playwright
psycopg2-binary
pytest
pytest-django
PyYAML
requests
requests_html
stream_unzip
xlrd